/* Meta Box Columns */
.rwmb-row + .rwmb-row {
	margin-top: 12px;
}

.auto-listings .column-logo img {
	border: medium none;
	height: auto;
	max-width: 100%;
}

.auto-listings span.light {
	color: #888;
	font-size: 12px;
	font-style: normal;
	margin-top: 3px;
}
.auto-listings span.light {
	font-size: 13px;
	display: block;
	color: #aaa;
}
.auto-listings #side-sortables {
	padding-top: 0;
}

/*
 * Listing Status
 */
#archive-item.button {
	margin: 15px 0 10px;
}
.auto-listings .archived-text{
	margin: 15px 0 10px;
	padding: 4px 10px;
	border-left: 4px solid transparent;
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	font-size: 12px;
}
.auto-listings .archived-text.warning {
	border-color: #ffb900;
}
.auto-listings .archived-text.error {
	border-color: #dc3232;
}
.auto-listings .archived-text.success {
	border-color: #46b450;
}

/*
 * Listing Vehicle select
 */
.auto-listings #cq-select-model {
	margin: 5px 0;
}
.auto-listings #cq-show-data {
	margin: 5px 0;
}

/*
 * Listing Address
 */
.auto-listings #al-find {
	margin: -10px 10px 0 0;
	width: 120px;
	float: left;
}
.auto-listings #al-reset {
	margin: -10px 0 0 0;
	width: 120px;
	float: left;
}
.auto-listings .al-admin-map {
	display: inline-block;
	margin: 0 auto 0;
	width: 100%;
	border: 2px solid #eee;
}

/*
 * Listings Columns
 */

.post-type-auto-listing .enquiries a {
	display: inline-block;
	vertical-align: top;
}
.post-type-auto-listing .enquiries a:after {
	border-right: 5px solid transparent;
	border-top: 5px solid #72777c;
	content: "";
	display: block;
	height: 0;
	margin-left: 8px;
	width: 0;
}
.post-type-auto-listing .enquiries span {
	background-color: #72777c;
	border-radius: 5px;
	box-sizing: border-box;
	color: #fff;
	display: block;
	font-size: 11px;
	height: 2em;
	line-height: 21px;
	min-width: 24px;
	padding: 0 8px;
	text-align: center;
}
/*
 * Options
 */
.auto_listings_options .license-active {
	border-top: 1px solid #46b450;
	display: block;
	padding: 5px 10px;
	width: 95%;
}


/* seller profile image */

#profile-page #current_img{
	position: relative;
	width: 160px;
	height: auto;
	text-align: right;
	margin-bottom: 10px;
}
#profile-page .button.auto_listings_wpmu_button {
	margin: 10px 0;
}

#profile-page .auto-listings-current-img{
	display: block;
	max-width: 150px;
	max-height: 150px;
	width: 100%;
	height: auto;
	padding: 4px;
	background: #fefefe;
	border: 1px solid #e5e5e5;
}

/* #profile-page .auto-listings-current-img.placeholder{
	width: 1px;
	height: 1px;
	border: 0;
	background: transparent;
} */

#profile-page .edit_options{
	display: block;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	max-width: 160px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.25);
}
#profile-page .edit_options .remove_img, #profile-page .edit_options .edit_img{
	float: left;
	position: relative;
	color: #444;
	font-size: 13px;
	width: 50%;
	height: 100%;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}
#profile-page .edit_options span{
	display: block;
	position: relative;
	top: 50%;
	margin-top: -10px;
}

#profile-page .edit_options .remove_img{
	color: #fff;
	background-color: rgb(214, 14, 14);
	background-color: rgba(214, 14, 14, 0.50);
}

#profile-page .edit_options.single .remove_img{
	width: 100%;
}

#profile-page .edit_options .remove_img:hover, #profile-page .edit_options .remove_img:focus{
	background-color: #ff0000;
	background-color: rgba(214, 14, 14, 0.75);
}

#profile-page .edit_options .edit_img{
	color: #fff;
	background-color: rgb(50, 50, 50);
	background-color: rgba(50, 50, 50, 0.50);
}

#profile-page .edit_options .edit_img:hover, #profile-page .edit_options .edit_img:focus{
	background-color: rgb(25, 25, 25);
	background-color: rgba(50, 50, 50, 0.75);
}

/* Radio Button Styles */
#profile-page #auto_listings_options{
	margin-bottom: 10px;
}

#profile-page #auto_listings_external{
	display: none;
}


.settings_page_auto_listings_options #side_metabox {
	background: transparent;
	border: none;
	box-shadow: none;
}
.settings_page_auto_listings_options #side_metabox .ui-sortable-handle {
	background: #fff;

}
.settings_page_auto_listings_options #side_metabox .inside {
	padding: 0;
}
.settings_page_auto_listings_options #side_metabox img {
	display: block;
	height: auto;
	max-width: 100%;
	margin: 20px 0 10px;
	border: 2px solid #444;
}

#display_fields ul.rwmb-input-list {
	column-count: 3;
}